.container {
    position: fixed;
    background-color: #FFD54F;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bigbox
{
    background-color: rgba(238,238,238 ,1);
    border-radius: 7px;
    height: 36vw;
    width: 36vw;
    margin: auto;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#submit-score{
    background-color: rgba(76,175,80,1);
    border-radius: 7px;
    width: 70%;
    margin: auto;
    padding: 6px;
    font-size: 4.5vw;
}

#submit-score:hover{
    background-color: rgba(76,175,80,0.9);
}

#replay{
    margin: auto;
    font-size: 4.5vw;
}



#leaderboard{
    position: fixed !important;
    text-align: right;
    bottom: 5px;
    right: 5px;
    height: 3vw;
    width: 20vw;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(139,195,74,1);
    font-size: 3vw;
    font-family: 'Passion One', cursive, sans-serif;
}

#points-table{
    text-align: center;
    font-size: 2vw;
    width: 100%;
    border-collapse: collapse;
}

#table-body > tr{
    margin-bottom: 1vw;
    border-radius: 2px;
}

#table-header{
    font-family: 'Aladin', cursive;
    font-size: 2.7vw;
}

#table-body{
    font-family: 'Secular One', sans-serif;
    font-size: 2vw;
}

#player1{
    font-size: 2.5vw;
}
#player2{
    font-size: 2.3vw;
}
#player3{
    font-size: 2.2vw;
}

#countdown{
    text-align: center;
    margin: auto;
    color: #263238;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 6vw;
    font-family: 'Passion One', cursive, sans-serif;
}

#score{
    text-align: center;
    color: #263238;
    padding-top: 8px;
    font-size: 4vw;
    font-family: 'Passion One', cursive, sans-serif;
}


.avatar{
    margin: 1.5vw auto 0 auto;
    background-image: url('https://api.adoxrable.io/avatars/129/Kube.png');
    border-radius: 100%;
}

.your-name{
    margin: 1.5vw 2vw 0 1vw;
    font-size: 3vw;
    height: 4vw;
}

.name-input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(33,33,33 ,1);
    border: 0px;
    padding: 1px 5px 1px 5px;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
}

.name-score{
    margin: 1vw 2vw 0 1vw;
    font-size: 5vw;
    height: 30%;
}

.btn{
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 70%;
    height: 20%;
    border-radius: 7px;
    float: center;
    font-size: 4vw;
}

.btn:hover{
    opacity : 0.9;
}

.name-submit{
    background-color: rgba(76,175,80,1);
}

.name-back{
    background-color: rgba(244,67,54,1);
}